@import "./branding.scss";

.card {
  position: relative;
  background: var(--color-dark-2);
  border-radius: 0.3rem;

  .col-m {
    grid-column: span 4;

    @media (min-width: 1450px) {
      grid-column: span 3;
    }
  }
}
.card-content-container {
  display: flex;
  align-items: center;
  grid-column: span 4;

  @media (min-width: 1450px) {
    grid-column: 5 / span 3;
  }
}
.card-content {
  padding: 3rem;

  @media (min-width: 560px) {
    & {
      padding: 0 5rem 5rem 5rem;
    }
  }
  @media (min-width: 1450px) {
    & {
      padding: 0;
    }
  }
  p:last-child {
    margin: 0;
  }
}
