@import "./branding.scss";

.ellipse-container {
  position: relative;
  display: grid;
  gap: 1.5rem;
  width: 100%;

  .ellipse-wrap {
    grid-column: 1 / 5;

    &:last-child {
      grid-column: 3 / -1;
    }

    .ellipse {
      position: relative;
      border-radius: 50%;
      width: 100%;
      height: auto;
      padding-top: 100%;
      border: 1px solid transparent;
      // border: 1px solid var(--color-gray-1);
    }
    .ellipse-fx {
      --border-angle: 0turn;
      --main-bg: conic-gradient(
        from var(--border-angle),
        transparent,
        transparent 5%,
        transparent 60%,
        transparent 95%
      );
      --gradient-border: conic-gradient(
        from var(--border-angle),
        transparent 25%,
        rgb(0 62 255 / 20%) 75%,
        transparent
      );
      background: var(--main-bg) padding-box, var(--gradient-border) border-box,
        var(--main-bg) border-box;
      animation: bg-spin 3s cubic-bezier(0.77, 0.08, 0.51, 0.83) infinite;
      @keyframes bg-spin {
        to {
          --border-angle: 1turn;
        }
      }

      &.fx2 {
        animation-delay: 0.5s;
        --gradient-border: conic-gradient(
          from var(--border-angle),
          transparent 25%,
          rgba(177, 196, 255, 0.1) 75%,
          transparent
        );
      }
    }
  }
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.ellipse-container.ellipse-mid {
  grid-template-columns: repeat(4, 1fr);

  .ellipse-wrap {
    grid-column: 1 / 3;

    &:last-child {
      grid-column: 2 / -2;
    }
  }
}
