@import "../_base/branding.scss";

.hero {
  padding: 8rem 0;
  background: var(--color-dark-1);

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-s;

    .ellipse-container {
      grid-template-columns: repeat(6, 1fr);

      .ellipse-wrap {
        grid-column: 1 / 5;
        grid-row: 1 / 2;

        &:last-child {
          grid-column: 3 / -1;
        }
      }
    }
    @media (min-width: 768px) {
      gap: $spacing-m;
    }
  }

  @media (max-width: 768px) {
    .col-s,
    .col-xl {
      grid-column: span 4;
    }

    .grid {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
